.eventCentreContainer {
    width: 100%;
    height: 400px;
  }
  .eventCentreImgContainer {
    width: 100%;
    height: 260px;
  }
  .eventCentreContent {
    margin-top: 5px;
  }
  .eventCentreContent .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  .eventCentreContent .rating,
  .eventCentreContent .subTitle {
    display: flex;
    align-items: center;
  }
  .eventCentreContent .subTitle {
    margin-top: 2px;
  }
  