.eventCentreContent {
  margin-top: 15px;
}
.eventCentreContent .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eventCentreContent .rating,
.eventCentreContent .subTitle {
  display: flex;
  align-items: center;
}
.eventCentreContent .subTitle {
  margin-top: 2px;
}
