.swiper-container:hover {
  cursor: pointer;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  font-weight: 800;
  font-size: 14px; /* Adjust the font size as needed */
  background-color: #a19d9a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  background-color: #bebdbc; /* Change the background color on hover */
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-pagination {
  display: block;
}
.swiper-pagination-bullet {
  background-color: white; /* Set the default background color */
}
