@font-face {
  font-family: "Circular";
  src: url("../../public/fonts/Circular/Circular-normal-400-100.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-roboto);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  color: black;
  font-family: "Circular";
}
