.headerRoot {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}
.logo {
  height: 20px;
  margin-top: 12px;
  cursor: pointer;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.headerSearchBar {
  width: 300px;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  font-size: 12px;
}
.headerSearchBar .searchBtn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(236, 167, 179);
  display: flex;
  align-items: center;
  justify-content: center;
}
.verticalLine {
  height: 20px;
  width: 1px;
  background-color: #dddddd;
}
.addEventCentre {
  padding: 10px 15px 10px 15px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
}
.addEventCentre:hover {
  background-color: #f0f0f0;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  border-radius: 20px;
}
.userNavContainer {
  display: flex;
  align-items: center;
}
.userNav {
  display: flex;
  align-items: center;
  width: 80px;
  height: 45px;
  justify-content: space-evenly;
  border-radius: 30px;
  border: 1px solid #dddddd;
}
.userNav:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
