.landingPageContainer {
  width: 100%;
  padding: 120px 80px; 
  box-sizing: border-box; 
}
.landingPageContainer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 50px;
}
.homeRoot .header {
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  padding: 0px 80px 0px 80px;
}
.homeRoot .scrolled {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


